body{
    font-family: 'Press Start 2P', cursive;
    color: white;
    background: url(../images/background.jpg);
    padding-left:1%;
}

header{
    font-size: 40px;
    margin-top: 3%; 
}

h4{
    font-size:17px;
    color:lightgreen;
}

p{
    font-size:11px;
    margin: 3px auto;
    text-align: center;
}

.herostyle{
    height: 160px;
    width: 170px;
    margin: 10px;
    border: 3px solid lightblue;
    display:inline-block;
}

img{
    height: 110px;
    width: 130px;
    display: block;
    margin: 4px auto;
}

#yourcontainer{
    display: block;
}

#defendercontainer{
    display: block;
}

#vslogo{
    display: block;
}

#fightBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#notice{
    color:lightskyblue;
    font-size:15px;
    line-height: 15px;
}

#reset{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}